@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

$yellow: #ebce88;


body {
    font-family: 'Josefin Sans', Helvetica, sans-serif;
    text-align: center;
}

.homeContainer, .errorContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://i.imgur.com/mTbdhQ9.png");
    background-size: 80vh;
    background-repeat: no-repeat;
    background-position: center;
    @media (max-width: 400px) {
        background-size: 100vw;
    }
}
h2 {
    color: white;
    font-size: 3em;
    margin-bottom: 20px;
    @media (max-height: 750px) {
        font-size: 2em;
    }
    @media (max-height: 500px) {
        font-size: 1em;
    }
    @media (max-width: 500px) {
        font-size: 1em;
    }
}
a {
    text-decoration: inherit;
    background: none;
    color: black;
    font-size: 2em;
    letter-spacing: .1em;
    @media (max-height: 750px) {
        font-size: 1.5em;
        padding: 0.7em;
    }
    @media (max-height: 450px) {
        font-size: 1em;
    }
    @media (max-width: 500px) {
        font-size: 1em;
        padding: 0.7em;
    }
}
a:hover {
    text-decoration: underline;
}

.homeContainer {
    input {
        margin: 30px;
        padding: 20px;
        border: none;
        border-radius: 100%;
        font-size: 3em;
        text-align: center;
        height: 8vh;
        width: 8vh;
        @media (max-height: 750px) {
            margin: 15px;
            font-size: 1em;
            padding: 5px;
        }
        @media (max-height: 450px) {
            margin: 5px;
        }
        @media (max-width: 500px) {
            font-size: 1em;
            padding: 5px;
            margin: 5px;
        }
    } 
    .goLink {
        background: $yellow;
    }
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 

}



.resultContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h3 {
        color: $yellow;
        font-size: 4em;
    }
    .outputContainer {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    p {
        font-size: 2em;
        padding: 100px;
    }
    a {
        color: black;
        font-size: 2em;
    }
    a:hover {
        color: $yellow;
    }
}


.errorContainer {
    p {
        font-size: 2.5em;
        width: 40vw;
        color: white;
        @media (max-height: 750px) {
            font-size: 1.5em;
            padding: 0.7em;
        }
        @media (max-height: 450px) {
            font-size: 1em;
        }
        @media (max-width: 500px) {
            font-size: 1em;
            padding: 0.7em;
        }
    }

}